<% content_for(:title, 'Партнерство')%>

<div class="global-scope">
  <div class="settings-scope" style="padding-top: 0;">
    <div class="up-logo-main">
      <%= image_tag "mvive-tv-white-small.png", alt: "MVive Fashion Channel", class: "up-logo" %>
    </div>
    <%= render "shared/main_news_navbar" %>
<div class="main-partners-block">
  <h2 style="padding-top: 70px; padding-bottom: 30px; margin: 0">Партнери:</h2>
  <div class="single-partners-block">
    <%= image_tag "lfw-logo.jpeg", alt: "Lviv Fashion Week", class: "single-partners-logo" %>
    <a target="_blank" rel="nofollow" href="http://lvivfashionweek.com">Lviv Fashion Week</a>
  </div>
  <div style="margin-top: 20px" class="single-partners-block">
    <%= image_tag "logo-wland.png", alt: "Студія тележурналістики та кіно Wonderland", class: "single-partners-logo" %>
    <a target="_blank" rel="nofollow" href="http://wonder-land.top/">Wonder-Land</a>
    <p>Студія тележурналістики та кіно "Wonderland"</p>
  </div>
  <div style="margin-top: 20px" class="single-partners-block">
    <%= image_tag "logo-wavetv.png", alt: "WaveTV", class: "single-partners-logo" %>
    <a target="_blank" rel="nofollow" href="http://wave.inf.ua">wave.inf.ua</a>
    <p>WAVE TV @ "Будь на хвилі разом з нами"</p>
  </div>
  <%= link_to '<p class="add-new-callback">---> Стать партнером <---</p>'.html_safe, contact_us_path, target: "_self" %>
</div>
</div>
  <%= render 'shared/footer' %>
</div>