<% content_for(:title, "Світське життя, люди, вечірки")%>
<% content_for(:description, "Світські новини в Україні. Модні люди та гучні вечірки. Актуальні новини про моду світське життя та культуру!") %>
<% content_for(:keywords, "світське життя, люди, вечірки, люди та вечірки")%>

<div class="global-scope">
  <div class="settings-scope" style="padding-top: 0;">
    <%= render "shared/main_news_navbar" %>
    <h2 style="padding-top: 60px;">Світське життя</h2>
    <div class="news-feed">

      <% @peopleandparty.each do |peopleandparty| %>
          <div class="news-container">

            <h1><span class="headline-word"><%= peopleandparty.name %></span></h1>



            <a href=" <%= peopleandparty_path(peopleandparty) %>" target="_self">
              <div class="news-photo" style="background-image: url(<%= peopleandparty.image %>);" >
                <div class="news-date-block">
                  <p class="news-date-day"><%= peopleandparty.news_day %></p>
                  <p class="news-date-month"><%= peopleandparty.news_month %></p>
                </div>
              </div>
            </a>

            <div class="news-content">
              <p><%= peopleandparty.short %></p>
            </div>

          </div>
      <% end %>
      <div class="google-ads-news-main">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- mv-news-main -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-3562964519569523"
             data-ad-slot="1356928495"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>

    <div class="casting-next-back-btns">
      <%= will_paginate @peopleandparty, previous_label: "Назад", next_label: "Вперед" %>
    </div>
  </div>
</div>
</div>
<%= render 'shared/footer' %>