<% content_for(:title, "Жіноча мода 2017-2018")%>
<% content_for(:description, "Новинки та тенденції жіночої моди. Актуальні та модні жіночі тренди.") %>
<% content_for(:keywords, "мода, жіноча мода, тренди, тенденції")%>


<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <%= render "shared/header_navigation_up" %>
    </div>
  </header>
  <section id="navArea">
    <%= render "shared/header_navigation_down" %>
  </section>
  <section id="newsSection">
    <%= render "shared/social_area_mainpage" %>
  </section>

  <section id="contentSection">
    <%= render "shared/content_womanfashion" %>
  </section>
  <%= render "shared/footer_mainpage" %>
</div>
<%= render 'shared/popup_facebook' %>
<div id='admixer_53fb9a119de44b9781dae1268142a911_zone_14307_sect_4206_site_3736'></div> <script type='text/javascript'> admixerML.fn.push(function() { admixerML.display('admixer_53fb9a119de44b9781dae1268142a911_zone_14307_sect_4206_site_3736'); }); </script>
<div class="admixer-mobile"><div id='admixer_b8ba839213ef46f4bb92b37158d0c2af_zone_14308_sect_4206_site_3736'></div> <script type='text/javascript'> admixerML.fn.push(function() { admixerML.display('admixer_b8ba839213ef46f4bb92b37158d0c2af_zone_14308_sect_4206_site_3736'); }); </script></div>