<% content_for(:title, "Канал моды в Украине - MVive Fashion TV | Мода ТВ")%>
<% content_for(:description, "Проект MVive Fashion TV. Видео всех актуальных событий моды в Украине, видео обзоры, шоппинг и другое интересное с мира высокой моды!")%>
<% content_for(:keywords, "mvive tv, fashion tv, видео, мода, канал о моде")%>
<% content_for(:og_title, "Канал моды в Украине | Мода ТВ")%>
<% content_for(:og_description, "Проект MVive Fashion TV. Видео всех актуальных событий моды в Украине, видео обзоры, шоппинг и другое интересное с мира высокой моды!")%>
<% content_for(:og_url, "http://mvive.net/mvive_tv")%>

<%= render "shared/menu" %>
<div class="global-scope">
  <div class="settings-scope" style="padding-top: 0;">
    <%= render "shared/main_news_navbar" %>
    <h2 class="mvivetv-h2">M'Vive TV</h2>
    <div class="google-ads-news-main">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mv-news-main -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3562964519569523"
           data-ad-slot="1356928495"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="news-feed">

      <% @mvivetv.each do |mvivetv| %>
          <div class="news-container">

            <h1><span class="headline-word"><%= mvivetv.name %></span></h1>



            <a href=" <%= mvive_tv_path(mvivetv) %>" target="_self">
              <div class="news-photo-mvivetv" style="background-image: url(<%= mvivetv.image %>);" >
                <div class="news-date-block-mvivetv">
                  <p class="news-date-day-mvivetv"><%= mvivetv.news_day %></p>
                  <p class="news-date-month-mvivetv"><%= mvivetv.news_month %></p>
                </div>
              </div>
            </a>

            <div class="news-content">
              <p><%= mvivetv.short %></p>
            </div>

          </div>
      <% end %>
    </div>

    <div class="casting-next-back-btns">
      <%= will_paginate @mvivetv, previous_label: "Назад", next_label: "Вперед" %>
    </div>

    <div class="google-ads-news-main">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mv-news-main -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3562964519569523"
           data-ad-slot="1356928495"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <h3 class="social-call">Мы в социальных сетях</h3>
    <div class="social-footer">
      <ul>
        <li><a href="https://vk.com/mvivenet"><i class="fa fa-vk"></i></a></li>
        <li><a href="https://www.facebook.com/mvivenet"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/mvivenet/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC19mYJTuoNaIpdTFNPSL23A"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<%= render 'shared/footer' %>