<% content_for(:title, 'Диалоги')%>

<%= render 'shared/menu' %>
		<div class="global-scope">
			<div class="settings-scope">
				<h2>Диалоги</h2>
				<div class="dialogs-box">
					<% @conversations.each do |c| %>
					<% users = c.participants %>
					<% if users.first != current_user %>
						<% u = users.first %>
					<% else %>
						<% u = users.second %>
					<% end %>
					<div class="dialog">
						<a href="/conversations/<%= c.id%>#end" target= "_self">
							<div class="photo-on-dialog" style="background-image: url(<%= u.avatar_url %>);">
							</div>
							<%if c.last_message.is_unread?(u) || c.last_message.is_unread?(current_user)%>
							<div class="last-message unread-message">
							<%elsif c.last_message.is_read?(u) || c.last_message.is_read?(current_user)%>
							<div class="last-message">
							<% end %>
								<h4><%= "#{u.name} #{u.surname}" %></h4>
								<span><%= c.last_message.created_at %></span>
								<%= simple_format h(truncate(c.last_message.body)) %>
							</div>
						</a>
					</div>
					<% end %>

					
				</div>

        <div class="casting-next-back-btns">
          <%= will_paginate @conversations, previous_label: "Назад", next_label: "Вперед" %>
        </div>

			</div>
		</div>
<%= render "shared/footer" %>