<%= render 'shared/menu' %>

<div class="global-scope">
  <div class="settings-scope">
    <h2>Премиум кастинг от M'Vive</h2>
    <div class="cont-slider">
      <script type="text/javascript" charset="utf-8">
        var $ = jQuery.noConflict();
        $(window).load(function() {
          $('.flexslider').flexslider({
            animation: "fade"
          });

          $(function() {
            $('.show_menu').click(function(){
              $('.menu').fadeIn();
              $('.show_menu').fadeOut();
              $('.hide_menu').fadeIn();
            });
            $('.hide_menu').click(function(){
              $('.menu').fadeOut();
              $('.show_menu').fadeIn();
              $('.hide_menu').fadeOut();
            });
          });
        });
      </script>
    <div class="slider_container">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <a href="#"> <%= image_tag 'slide1.jpg' %></a>
            <div class="flex-caption">
              <div class="caption_title_line"><h2>M'Vive</h2><p class="prem-sl-p">Уникальная online-платформа для фотографов, моделей и модельеров !</p></div>
            </div>
          </li>
          <li>
            <a href="#"><%= image_tag 'slide2.jpg' %></a>
            <div class="flex-caption">
              <div class="caption_title_line"><h2>Принимай участие</h2><p class="prem-sl-p">Подавай заявку на участие в конкурсе от M'Vive, выигрывай и стань частью нового проекта !</p></div>
            </div>
          </li>
          <li>
            <a href="#"><%= image_tag 'slide3.jpg' %></a>
            <div class="flex-caption">
              <div class="caption_title_line"><h2>Будет интересно</h2><p class="prem-sl-p">Новый формат кастингов и fashion событий. Мы постараемся вывести моду на новый уровень !</p></div>
            </div>
          </li>
          <li>
            <a href="#"><%= image_tag 'slide4.jpg' %></a>
            <div class="flex-caption">
              <div class="caption_title_line"><h2>Следи за новостями</h2><p class="prem-sl-p">Не забудь подписаться на наши страници в социальных сетях и следить за новостями !</p></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
      </div>
    <div class="ab-pr-cast">
      <h3>О конкурсе:</h3>
      <p>На честь открытия новой Online-платформы для фотографов, моделей и модельеров спешим сообщить о запуске конкурса для фото-моделей на наши рекламные стоки ! Конкурс будет проходить в два этапы: 1) сбор заявок; 2)открытое голосование. Победительниц будет двое, одну с которых выберем мы, а другую методом открытого голосования. Что бы принять участие Вам достаточно подять заявку и иметь учетную запись на сайте с несколько фотографий.</p>
      <div class="ggl-forms-block">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSduFTrxBnGSgYh_5_nsKI4_EVUEQ7dONSSzg3-RghF_wRqWXw/viewform"><p class="btn-for-forms">Принять участие</p></a>
      </div>
      <h3>Спонсоры конкурса:</h3>
      <div class="info-partners">
        <div class="info-partner-block">
          <%= image_tag "big-logo.PNG", class: "info-part-logos" %>
          <h4 class="info-part-main-h4">M'Vive</h4>
          <p>Freelance платформа для фотографов и моделей</p>
        </div>
        <div class="info-partner-block">
          <%= image_tag "big-logo.PNG", class: "info-part-logos" %>
          <h4 class="info-part-main-h4">M'Vive</h4>
          <p>Freelance платформа для фотографов и моделей</p>
        </div>
        <h3>Партнеры:</h3>
        <div class="info-partner-block">
          <%= image_tag "big-logo.PNG", class: "info-part-logos" %>
          <h4 class="info-part-main-h4">M'Vive</h4>
          <p>Freelance платформа для фотографов и моделей</p>
        </div>
        <div class="info-partner-block">
          <%= image_tag "big-logo.PNG", class: "info-part-logos" %>
          <h4 class="info-part-main-h4">M'Vive</h4>
          <p>Freelance платформа для фотографов и моделей</p>
        </div>
        <div class="google-ads-info-partners">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- info-partners -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-3562964519569523"
               data-ad-slot="6644105690"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
    <h3 class="social-call">Мы в социальных сетях</h3>
    <div class="social-footer">
      <ul>
        <li><a href="https://vk.com/mvive"><i class="fa fa-vk"></i></a></li>
        <li><a href="https://www.facebook.com/mvivefashion/"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>