<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="left_content">
      <div class="single_post_content">
        <h2><span>Світське життя</span></h2>
        <div class="single_post_content_left">
          <ul class="business_catgnav  wow fadeInDown">
            <li>
              <figure class="bsbig_fig"> <a href="http://mvive.net/peopleandparty/gosti-chetvertogo-dnya-lviv-fashion-week-aw17" class="featured_img"><img src="https://s3.amazonaws.com/mvive-news-images/images-people-and-party/lfw-ppld4-1.jpg" alt="Гості четвертого дня Lviv Fashion Week AW17"> <span class="overlay2"></span> </a>
                <figcaption> <a href="http://mvive.net/peopleandparty/gosti-chetvertogo-dnya-lviv-fashion-week-aw17">Гості четвертого дня Lviv Fashion Week AW17</a> </figcaption>
                <p></p>
              </figure>
            </li>
          </ul>
        </div>
        <div class="single_post_content_right">
          <ul class="spost_nav">
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/peopleandparty/olena-dats-i-bogdan-zubchenko-gosti-prezentacii" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-people-and-party/olena-dats-1.jpg" alt="Olena Dats і Богдан Зубченко: гості презентації"> </a>
                <div class="media-body"> <a href="http://mvive.net/peopleandparty/olena-dats-i-bogdan-zubchenko-gosti-prezentacii" class="catg_title">Olena Dats і Богдан Зубченко: гості презентації</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/peopleandparty/dilovyi-forum-2017-citadel-inn-afterparty" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-people-and-party/dil-forum-1.jpg" alt="Діловий Форум 2017: Citadel Inn Afterparty"> </a>
                <div class="media-body"> <a href="http://mvive.net/peopleandparty/dilovyi-forum-2017-citadel-inn-afterparty" class="catg_title">Діловий Форум 2017: Citadel Inn Afterparty</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/peopleandparty/gosti-pershogo-dnya-lviv-fashion-week-aw17" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-people-and-party/lfw-ppld1-1.jpg" alt="Гості першого дня Lviv Fashion Week AW17"> </a>
                <div class="media-body"> <a href="http://mvive.net/peopleandparty/gosti-pershogo-dnya-lviv-fashion-week-aw17" class="catg_title">Гості першого дня Lviv Fashion Week AW17</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/peopleandparty/maks-barskih-vidmituv-den-narodgenya-s-grupoy-via-gra" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-people-and-party/barskih-1.jpg" alt="Макс Барських відзначив день народження з групою ВІА Гра"></a>
                <div class="media-body"> <a href="http://mvive.net/peopleandparty/maks-barskih-vidmituv-den-narodgenya-s-grupoy-via-gra" class="catg_title">Макс Барських відзначив день народження з групою "ВІА Гра"</a> </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="fashion_technology_area">
        <div class="fashion">
          <div class="single_post_content">
            <h2><span>Мода</span></h2>
            <ul class="business_catgnav wow fadeInDown">
              <li>
                <figure class="bsbig_fig"> <a href="http://mvive.net/moda/ne-vdali-obrazu-gostei-tugnya-modu" class="featured_img"><img src="https://s3.amazonaws.com/mvive-news-images/images-moda/12-ber-1.jpeg" alt="образи гостей, що відвідали Тиждень Моди"><span class="overlay2"></span> </a>
                  <figcaption> <a href="http://mvive.net/moda/ne-vdali-obrazu-gostei-tugnya-modu">Не вдалі образи гостей, що відвідали Тиждень Моди</a> </figcaption>
                  <p>Тиждень Моди запам'ятався не тільки цікавими колекціями, але й образами гостей. Ми вирішили зробити добірку не найкращих образів зірок, які нас відверто здивували.</p>
                </figure>
              </li>
            </ul>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="http://mvive.net/woman_fashion/svetlana-ehrt-fall-winter-2017-2018" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-woman-fashion/s-erth-1.jpg" alt="Svetlana Ehrt Fall-Winter 17/18"></a>
                  <div class="media-body"> <a href="http://mvive.net/woman_fashion/svetlana-ehrt-fall-winter-2017-2018" class="catg_title">Svetlana Ehrt Fall-Winter 17/18</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="http://mvive.net/moda/hto-odyagae-vidomuh-top-modelei-na-tugnyah-modu" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-moda/11-ber-1.jpeg" alt="Хто одягає відомих топ-моделей на тижнях моди?"></a>
                  <div class="media-body"> <a href="http://mvive.net/moda/hto-odyagae-vidomuh-top-modelei-na-tugnyah-modu" class="catg_title">Хто одягає відомих топ-моделей на тижнях моди?</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="http://mvive.net/woman_fashion/kolekciya-novuh-prukras-vid-lena-zhukova" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-woman-fashion/lena-zhukova-st-1.jpg" alt="Колекція нових прикрасах від Lena Zhukova"></a>
                  <div class="media-body"> <a href="http://mvive.net/woman_fashion/kolekciya-novuh-prukras-vid-lena-zhukova" class="catg_title">Колекція нових прикрасах від Lena Zhukova</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="http://mvive.net/woman_fashion/sistan-varvara-lookbook-kolekcii-ss17" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-woman-fashion/lb-sistanss17-1.jpg" alt="Sistan Varvara: лукбук колекції SS17"></a>
                  <div class="media-body"> <a href="http://mvive.net/woman_fashion/sistan-varvara-lookbook-kolekcii-ss17" class="catg_title">Sistan Varvara: лукбук колекції SS17</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="technology">
          <div class="single_post_content">
            <h2><span>LifeStyle</span></h2>
            <ul class="business_catgnav">
              <li>
                <figure class="bsbig_fig wow fadeInDown"> <a href="http://mvive.net/lifestyle/3-horoshuh-serialu-pro-vidnosunu" class="featured_img"><img src="https://s3.amazonaws.com/mvive-news-images/images-lifestyle/11-ber-1.jpeg" alt="серіали про відносини"><span class="overlay2"></span> </a>
                  <figcaption> <a href="http://mvive.net/lifestyle/3-horoshuh-serialu-pro-vidnosunu">3 хороших серіалів про відносини</a> </figcaption>
                  <p>Спостерігати за чужими відносинами з боку завжди цікаво: впізнаєш в них друзів, батьків та себе, порівнюєш і розумієш, як хочеш чи не хочеш, щоб складалися твої особисті історії.</p>
                </figure>
              </li>
            </ul>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="http://mvive.net/travel/yaki-podarunku-pruveztu-z-parugy" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-travel/22-feb-1.jpeg" alt="Які подарунки привезти з Парижа"></a>
                  <div class="media-body"> <a href="http://mvive.net/travel/yaki-podarunku-pruveztu-z-parugy" class="catg_title">Які подарунки привезти з Парижа?</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="http://mvive.net/lifestyle/ivan-dorn-novuy-bogeviljnuy-klip" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-lifestyle/dorn-1.png" alt="Іван Дорн: новий кліп"> </a>
                  <div class="media-body"> <a href="http://mvive.net/lifestyle/ivan-dorn-novuy-bogeviljnuy-klip" class="catg_title">Іван Дорн: новий божевільний кліп</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="http://mvive.net/lifestyle/deniel-redkliff-na-stseni-natsionalnogo-teatry-v-londoni" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-lifestyle/13-ber-4.jpg" alt="Деніел Редкліфф на сцені Національного театру в Лондоні"> </a>
                  <div class="media-body"> <a href="http://mvive.net/lifestyle/deniel-redkliff-na-stseni-natsionalnogo-teatry-v-londoni" class="catg_title">Деніел Редкліфф на сцені Національного театру в Лондоні</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="http://mvive.net/lifestyle/knugkovi-novunku-bereznya" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-lifestyle/13-ber-2-1.jpg" alt="Книжкові новинки березня"></a>
                  <div class="media-body"> <a href="http://mvive.net/lifestyle/knugkovi-novunku-bereznya" class="catg_title">Книжкові новинки березня</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="single_post_content">
        <h2><span>Fashion Look</span></h2>
        <ul class="photograph_nav  wow fadeInDown">
          <li>
            <div class="photo_grid">
              <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="#" title="Photography Ttile 1"><%= image_tag "fashion-look1.jpg" %></a> </figure>
            </div>
          </li>
          <li>
            <div class="photo_grid">
              <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="#" title="Photography Ttile 2"> <%= image_tag "fashion-look2.jpg" %> </a> </figure>
            </div>
          </li>
          <li>
            <div class="photo_grid">
              <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="#" title="Photography Ttile 3"> <%= image_tag "fashion-look3.jpg" %> </a> </figure>
            </div>
          </li>
          <li>
            <div class="photo_grid">
              <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="#" title="Photography Ttile 4"> <%= image_tag "fashion-look4.jpg" %> </a> </figure>
            </div>
          </li>
          <li>
            <div class="photo_grid">
              <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="#" title="Photography Ttile 5"> <%= image_tag "fashion-look5.jpg" %> </a> </figure>
            </div>
          </li>
          <li>
            <div class="photo_grid">
              <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="#" title="Photography Ttile 6"> <%= image_tag "fashion-look6.jpg" %> </a> </figure>
            </div>
          </li>
        </ul>
      </div>
      <div class="single_post_content">
        <h2><span>Бюті Тренд</span></h2>
        <div class="single_post_content_left">
          <ul class="business_catgnav">
            <li>
              <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="http://mvive.net/beauty_trend/yak-stvorutu-idealynui-smoky-eyes"><img src="https://s3.amazonaws.com/mvive-news-images/images-beauty-trend/11-ber-1.jpeg" alt="Smoky Eyes" ><span class="overlay2"></span> </a>
                <figcaption> <a href="http://mvive.net/beauty_trend/yak-stvorutu-idealynui-smoky-eyes">Як створити ідеальний Smoky Eyes?</a> </figcaption>
                <p>По підсумках минулих Тижнів моди стає очевидно, що ідеальний, немов створений за трафаретом, макіяж залишився в минулому.</p>
              </figure>
            </li>
          </ul>
        </div>
        <div class="single_post_content_right">
          <ul class="spost_nav">
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/beauty_trend/rose-gold-golovnui-vidtinok-vesnu" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-beauty-trend/27-feb-1.jpg" alt="Rose Gold"></a>
                <div class="media-body"> <a href="http://mvive.net/beauty_trend/rose-gold-golovnui-vidtinok-vesnu" class="catg_title">Rose Gold: головний відтінок весни</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/beauty_trend/golovni-beauty-novunku-vesnu" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-beauty-trend/11-ber-2-1.png" alt="Головні б'юті-новинки весни"></a>
                <div class="media-body"> <a href="http://mvive.net/beauty_trend/golovni-beauty-novunku-vesnu" class="catg_title">Головні б'юті-новинки весни, що стали хітами світових подіумів</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/beauty_trend/instagram-tugnja-eugene-souleima" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-beauty-trend/11-ber-3-1.jpg" alt="Інстаграм тижня: Стиліст Юджин Сулейман"></a>
                <div class="media-body"> <a href="http://mvive.net/beauty_trend/instagram-tugnja-eugene-souleima" class="catg_title">Інстаграм тижня: Стиліст Юджин Сулейман</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/beauty_novunku/ostani-novunku-beauty" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-beauty-novunku/23-feb-3.jpg" alt="Цікаві новинки Beauty"></a>
                <div class="media-body"> <a href="http://mvive.net/beauty_novunku/ostani-novunku-beauty" class="catg_title">Цікаві новинки Beauty</a> </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="single_post_content">
        <h2><span>Покази</span></h2>
        <div class="single_post_content_left">
          <ul class="business_catgnav">
            <li>
              <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="http://mvive.net/fashionshow/lviv-fashion-week-aw17-kateryna-karol"><img src="https://s3.amazonaws.com/mvive-news-images/images-fashionshows/lfw-aw17-karol-1.jpg" alt="Lviv Fashion Week AW17: Kateryna Karol" ><span class="overlay2"></span> </a>
                <figcaption> <a href="http://mvive.net/fashionshow/lviv-fashion-week-aw17-kateryna-karol">Lviv Fashion Week AW17: Kateryna Karol</a> </figcaption>
                <p>В новой коллекции Катерины Кароль зритель мог увидеть плавный переход от ранее представленной этно-весны к осени.</p>
              </figure>
            </li>
          </ul>
        </div>
        <div class="single_post_content_right">
          <ul class="spost_nav">
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/fashionshow/lviv-fashion-week-aw17-steblakizm-good-fellow-geckobrass" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-fashionshows/axse-aw-1.jpg" alt="Lviv Fashion Week AW17: Steblakizm, Good Fellow & GeckoBrass"></a>
                <div class="media-body"> <a href="http://mvive.net/fashionshow/lviv-fashion-week-aw17-steblakizm-good-fellow-geckobrass" class="catg_title">Lviv Fashion Week AW17: Steblakizm, Good Fellow & GeckoBrass</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/fashionshow/lviv-fashion-week-aw17-svetlana-ehrt" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-fashionshows/erht-aw17-12.jpg" alt="Lviv Fashion Week AW17: Svetlana Ehrt"></a>
                <div class="media-body"> <a href="http://mvive.net/fashionshow/lviv-fashion-week-aw17-svetlana-ehrt" class="catg_title">Lviv Fashion Week AW17: Svetlana Ehrt</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/fashionshow/lviv-fashion-week-aw17-yaroshchyk" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-fashionshows/yaroshchyk-aw17-1.jpg" alt="Lviv Fashion Week AW17: Yaroshchyk"></a>
                <div class="media-body"> <a href="http://mvive.net/fashionshow/lviv-fashion-week-aw17-yaroshchyk" class="catg_title">Lviv Fashion Week AW17: Yaroshchyk</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="http://mvive.net/fashionshow/lviv-fashion-week-aw17-a-kira-design" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-fashionshows/akira-aw17-11.jpg" alt="Lviv Fashion Week AW17: A.KIRA design"></a>
                <div class="media-body"> <a href="http://mvive.net/fashionshow/lviv-fashion-week-aw17-a-kira-design" class="catg_title">Lviv Fashion Week AW17: A.KIRA design</a> </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <aside class="right_content">
      <div class="single_sidebar wow fadeInDown">
        <h2><span>M'Vive рекомендує</span></h2>
        <a href="http://ria-ukraine.com/magazine/" rel="nofollow" target="_blank"><%= image_tag "ria-j.jpg", class: "ria-img-j" %></a>
      </div>
      <div class="single_sidebar">
        <h2><span>Популярні новини</span></h2>
        <ul class="spost_nav">
          <li>
            <div class="media wow fadeInDown"> <a href="http://mvive.net/news/anna_october_resort_2017_leto_blizko" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/27-noya-2.jpeg" alt="Anna October Resort 2017"></a>
              <div class="media-body"> <a href="http://mvive.net/news/anna_october_resort_2017_leto_blizko" class="catg_title">Anna October Resort 2017: лето близко</a> </div>
            </div>
          </li>
          <li>
            <div class="media wow fadeInDown"> <a href="http://mvive.net/news/grammy-2017-epatagni-naryadu-ceremonii" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/13-feb2-1.jpg" alt="Grammy 2017"></a>
              <div class="media-body"> <a href="http://mvive.net/news/grammy-2017-epatagni-naryadu-ceremonii" class="catg_title">Grammy 2017: епатажні наряди церемонії</a> </div>
            </div>
          </li>
          <li>
            <div class="media wow fadeInDown"> <a href="http://mvive.net/news/zhukova-jewelry-nova-kolekciya-love-is" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/13-feb-2.jpg" alt="Zhukova jewelry"></a>
              <div class="media-body"> <a href="http://mvive.net/news/zhukova-jewelry-nova-kolekciya-love-is" class="catg_title">Zhukova jewelry: нова колекція "Love is"</a> </div>
            </div>
          </li>
          <li>
            <div class="media wow fadeInDown"> <a href="http://mvive.net/news/ostel-fw-2017-18-foto-novoi-kolekcii" class="media-left"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/29-yanva-1.jpg" alt="OSTEL FW 2017/18"></a>
              <div class="media-body"> <a href="http://mvive.net/news/ostel-fw-2017-18-foto-novoi-kolekcii" class="catg_title">OSTEL FW 2017/18: фото нової колекції</a> </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="single_sidebar">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">M'Vive TV</a></li>
          <li role="presentation"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Категорії</a></li>
          <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Голосування</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="video">
            <div class="vide_area">
              <iframe width="100%" height="250" src="https://www.youtube.com/embed/1mCEMF4Ceuk" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="category">
            <ul>
              <li class="cat-item"><a href="#">Світське життя</a></li>
              <li class="cat-item"><a href="#">Fashion</a></li>
              <li class="cat-item"><a href="#">LifeStyle</a></li>
              <li class="cat-item"><a href="#">Краса</a></li>
              <li class="cat-item"><a href="#">MVive Fashion TV</a></li>
              <li class="cat-item"><a href="#">Покази моди</a></li>
            </ul>
          </div>
          <!--<div role="tabpanel" class="tab-pane" id="comments">
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <%= image_tag "post_img1.jpg" %> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <%= image_tag "post_img2.jpg" %> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <%= image_tag "post_img1.jpg" %> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <%= image_tag "post_img2.jpg" %> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                </div>
              </li>
            </ul>
          </div>-->
        </div>
      </div>
      <div class="single_sidebar wow fadeInDown">
        <h2><span>Блог</span></h2>
        <a class="sideAdd" href="http://mvive.net/blog_khrystyna_kolyada/military"><%= image_tag "blog-photo1.jpg" %></a>
        <div style="padding-left: 160px; text-align: center">
          <p style="padding-top: 60px;font-size: 17px;">Христина Коляда</p>
          <p style="font-size: 15px; font-weight: bold">Мілітарі</p>
          <p style="font-size: 14px; font-style: italic">«Це стиль, у якому використовують деталі та елементи військового одягу...»</p>
        </div>
      </div>
      <div class="single_sidebar wow fadeInDown">
        <h2><span>Facebook</span></h2>
        <div class="fb-page" data-href="https://www.facebook.com/mvivenet/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/mvivenet/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mvivenet/">M&#039;Vive - Мода 2017/18</a></blockquote></div>
      </div>
      <div class="single_sidebar wow fadeInDown">
        <h2><span>Вибір редакції</span></h2>
        <ul>
          <li><a href="http://lvivfashionweek.com/" rel="nofollow">Lviv Fashion Week</a></li>
          <li><a href="http://mvive.net/blog_khrystyna_kolyada">MVive Блоги</a></li>
          <li><a href="http://ria-ukraine.com/" rel="nofollow">РІА-Україна</a></li>
        </ul>
      </div>
      <div class="single_sidebar wow fadeInDown">
        <h2><span>Краса та здоров'я з MonReal</span></h2>
        <a href="http://monreal.lviv.ua/" target="_blank" rel="nofollow" ><%= image_tag "monreal-banner.jpg", class: "ria-img-j" %></a>
      </div>
    </aside>
  </div>
</div>