<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav main_nav">
      <%= link_to '<li class="active"><p><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></p></li>'.html_safe, root_path, target: "_self" %>
      <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">Світське життя</p></li>'.html_safe, peopleandparty_index_path, target: "_self" %>
      <li class="dropdown dropdown-navbar-li"> <p class="dropdown-toggle dropdown-navbar-p" data-toggle="dropdown" role="button" aria-expanded="false">Мода</p>
        <ul class="dropdown-menu" role="menu">
          <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">Жіноча мода</p></li>'.html_safe, woman_fashion_index_path, target: "_self" %>
          <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">Чоловіча мода</p></li>'.html_safe, men_fashion_index_path, target: "_self" %>
          <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">Покази</p></li>'.html_safe, fashionshow_index_path, target: "_self" %>
        </ul>
      </li>
      <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">Бюті тренд</p></li>'.html_safe, beauty_trend_index_path, target: "_self" %>
      <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">Life&Style</p></li>'.html_safe, lifestyle_index_path, target: "_self" %>
      <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">Шопінг</p></li>'.html_safe, shoppingandmakeup_index_path, target: "_self" %>
      <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">Культура</p></li>'.html_safe, event_index_path, target: "_self" %>
      <li class="dropdown dropdown-navbar-li"><p class="dropdown-toggle dropdown-navbar-p" data-toggle="dropdown" role="button" aria-expanded="false">Блоги</p>
        <ul class="dropdown-menu" role="menu">
          <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">Христина Коляда</p></li>'.html_safe, blog_khrystyna_kolyada_index_path, target: "_self" %>
          <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">Олена Назар</p></li>'.html_safe, blog_olena_nazar_index_path, target: "_self" %>
        </ul>
      </li>
      <%= link_to '<li class="dropdown-navbar-li"><p class="dropdown-navbar-p">MVive Channel</p></li>'.html_safe, mvive_tv_index_path, target: "_self" %>
    </ul>
  </div>
</nav>