<div class="header-nav">

  <ul class="navbar-ul">
    <%= link_to '<li style="padding-left: 75px" class="navbar-li-social"><p class="navbar-p"><i class="fa fa-home fa-1x"></i></p></li>'.html_safe, home_path, target: "_self" %>
    <%= link_to '<li class="navbar-li"><p class="navbar-p">Всі новини</p></li>'.html_safe, root_path, target: "_self" %>
    <%= link_to '<li class="navbar-li"><p class="navbar-p">Світське життя</p></li>'.html_safe, peopleandparty_index_path, target: "_self" %>
    <li class="navbar-li">
      <%= link_to '<p class="navbar-p">Мода</p>'.html_safe, moda_index_path, target: "_self" %>
      <ul class="moda-dropdown">
        <%= link_to '<li><p>Жіноча мода</p></li>'.html_safe, woman_fashion_index_path, target: "_self" %>
        <%= link_to '<li><p>Чоловіча мода</p></li>'.html_safe, men_fashion_index_path, target: "_self" %>
        <%= link_to '<li><p>Покази</p></li>'.html_safe, fashionshow_index_path, target: "_self" %>
      </ul>
    </li>

    <li class="navbar-li">
      <%= link_to '<p class="navbar-p">Красота</p>'.html_safe, krasota_ta_zdorovja_index_path, target: "_self" %>
      <ul class="moda-dropdown">
        <%= link_to '<li><p>Новинки</p></li>'.html_safe, beauty_novunku_index_path, target: "_self" %>
        <li><p>SPA</p></li>
        <li><p>Косметологія</p></li>
        <li><p>MakeUp</p></li>
        <li><p>Б'юті Тренд</p></li>
        <%= link_to '<li><p>Шопінг</p></li>'.html_safe, shoppingandmakeup_index_path, target: "_self" %>
        <li><p>Салони красоти</p></li>
      </ul>
    </li>

    <li class="navbar-li">
      <%= link_to '<p class="navbar-p">Культура</p>'.html_safe, kultura_index_path, target: "_self" %>
      <ul class="moda-dropdown">
        <li><p>Театри</p></li>
        <li><p>Музеї</p></li>
        <li><p>Арт</p></li>
        <li><p>Кіно</p></li>
        <%= link_to '<li><p>Події</p></li>'.html_safe, event_index_path, target: "_self" %>
      </ul>
    </li>

    <li class="navbar-li">
      <%= link_to '<p class="navbar-p">LifeStyle</p>'.html_safe, lifestyle_index_path, target: "_self" %>
      <ul class="moda-dropdown">
        <li><p>Ресторани</p></li>
        <li><p>Клуби</p></li>
        <li><p>Готелі</p></li>
        <%= link_to '<li><p>Подорожування</p></li>'.html_safe, travel_index_path, target: "_self" %>
      </ul>
    </li>

    <%= link_to '<li class="navbar-li"><p class="navbar-p">MVive TV</p></li>'.html_safe, mvive_tv_index_path, target: "_self" %>
    <li style="padding-left: 110px;" class="navbar-li-social"><a href="https://vk.com/mvivenet"><p class="navbar-p"><i class="fa fa-vk"></i></p></a></li>
    <li class="navbar-li-social"><a href="https://www.facebook.com/mvivenet"><p class="navbar-p"><i class="fa fa-facebook"></i></p></a></li>
    <li class="navbar-li-social"><a href="https://www.instagram.com/mvivenet"><p class="navbar-p"><i class="fa fa-instagram"></i></p></a></li>
    <li class="navbar-li-social"><a href="https://www.youtube.com/channel/UC19mYJTuoNaIpdTFNPSL23A"><p class="navbar-p"><i class="fa fa-youtube"></i></p></a></li>
    <%= link_to '<li class="navbar-li-social"><p class="navbar-p"><i class="fa fa-rss"></i></p></li>'.html_safe, feed_path(:rss), target: "_blank"%>
  </ul>
</div>