<section id="jms-slideshow" class="jms-slideshow">
  <div class="step" data-color="color-2">
    <div class="jms-content">
      <h3 style="font-size: 45px;">Кастинг от M'Vive</h3>
      <p>Принимай участие в конкурсе. Будет интересно!</p>
      <a class="jms-link" href="http://mvive.net/premium">Читать больше</a>
    </div>
    <%= image_tag 'model3.png' , class: "news-slide-img1" %>
  </div>
  <div class="step" data-color="color-3" data-y="900" data-rotate-x="80">
    <div class="jms-content">
      <h3 style="font-size: 45px;">Мы на Facebook</h3>
      <p>Следите за новостями мировой моды в социальных сетях!</p>
      <a class="jms-link" href="https://www.facebook.com/mvivefashion">Подписаться</a>
    </div>
    <%= image_tag 'fb-news-slide2.png' , class: "news-slide-img2" %>
  </div>

</section>
<script type="text/javascript">
  $(function() {

    var jmpressOpts	= {
      animation		: { transitionDuration : '0.8s' }
    };

    $( '#jms-slideshow' ).jmslideshow( $.extend( true, { jmpressOpts : jmpressOpts }, {
      autoplay	: true,
      bgColorSpeed: '0.8s',
      arrows		: false
    }));

  });
</script>
<ul class="menu cf">
  <li><%= link_to 'Все новости'.html_safe, news_index_path %></li>
  <li><%= link_to 'Тенденции'.html_safe, news_trends_path %></li>
  <li><%= link_to 'Показы мод'.html_safe, news_fashionshows_path %></li>
  <li><%= link_to 'Искусство и стиль жизни'.html_safe, news_arts_and_lifestyle_path %></li>
</ul>