<% content_for(:title, "Новости моды 2017-2018 | Мода 2017/18")%>
<% content_for(:description, "Только актуальные новости в мире высокой моды: тренды, женская мода, выходы новых коллекций, интересные факты из жизни модельеров и другое !") %>
<% content_for(:keywords, "мода 2016, женская мода, новости, новости моды, женская мода 2016, Мода, мода 2016 года, тренды, коллекции")%>


<div class="global-scope">
  <div class="settings-scope" style="padding-top: 0;">
    <div class="up-logo-main">
      <%= image_tag "mvive-tv-white-small.png", alt: "MVive Fashion Channel", class: "up-logo" %>
    </div>
    <%= render "shared/main_news_navbar" %>
    <%= render "shared/news_slider_navbar" %>
    <h2 style="padding-top: 60px;">Последние обновления</h2>
    <div class="news-feed">

      <% @news.each do |news| %>
      <div class="news-container">

        <h1><a href="<%= news_path(news) %>"><span class="headline-word"><%= news.name %></span></a></h1>

        <a href="<%= news_path(news) %>" target="_self">
          <div class="news-photo" style="background-image: url(<%= news.image %>);" >
            <div class="news-date-block">
              <p class="news-date-day"><%= news.news_day %></p>
              <p class="news-date-month"><%= news.news_month %></p>
            </div>
          </div>
        </a>

        <div class="news-content">
          <p><%= news.short %></p>
        </div>

      </div>
      <% end %>
      <div class="google-ads-news-main">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- mv-news-main -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-3562964519569523"
             data-ad-slot="1356928495"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>

    <div class="casting-next-back-btns">
      <%= will_paginate @news, previous_label: "Назад", next_label: "Вперед" %>
    </div>
  </div>
  </div>
</div>
<%= render 'shared/footer' %>
<%= render 'shared/popup_facebook' %>