<% content_for(:title, "Ексклюзивні новини моди | Мода")%>
<% content_for(:description, "Ексклюзивні новини моди від MVive. Інтерв'ю з модельєрами, топовими моделями і кращими майстрами макіяжу та багато іншого") %>
<% content_for(:keywords, "Інтерв'ю з модельєрами, топ модель, ексклюзив")%>
<% content_for(:og_title, "Ексклюзивні новини моди | Мода 2017")%>
<% content_for(:og_description, "Ексклюзивні новини моди від MVive. Інтерв'ю з модельєрами, топовими моделями і кращими майстрами макіяжу та багато іншого")%>
<% content_for(:og_url, "http://mvive.net/exclusive")%>

<div class="global-scope">
  <div class="settings-scope" style="padding-top: 0;">
    <div class="up-logo-main">
      <%= image_tag "mvive-tv-white-small.png", alt: "MVive Fashion Channel", class: "up-logo" %>
    </div>
    <%= render "shared/main_news_navbar" %>
    <h2 style="padding-top: 60px;">Эксклюзив от M'Vive</h2>
    <div class="google-ads-news-main">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mv-news-main -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3562964519569523"
           data-ad-slot="1356928495"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="news-feed">

      <% @exclusive.each do |exclusive| %>
          <div class="news-container">

            <h1><span class="headline-word"><%= exclusive.name %></span></h1>



            <a href=" <%= exclusive_path(exclusive) %>" target="_self">
              <div class="news-photo-exclusive" style="background-image: url(<%= exclusive.image %>);" >
                <div class="news-date-block">
                  <p class="news-date-day-exclusive"><%= exclusive.news_day %></p>
                  <p class="news-date-month-exclusive"><%= exclusive.news_month %></p>
                </div>
              </div>
            </a>

            <div class="news-content">
              <p><%= exclusive.short %></p>
            </div>

          </div>
      <% end %>
    </div>

    <div class="casting-next-back-btns">
      <%= will_paginate @exclusive, previous_label: "Назад", next_label: "Вперед" %>
    </div>

    <div class="google-ads-news-main">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mv-news-main -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3562964519569523"
           data-ad-slot="1356928495"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
</div>
<%= render 'shared/footer' %>