<% content_for(:title, "Афиша модных событий Украины 2016-2017 | Мода")%>
<% content_for(:description, "Список всех событий моды в Украине. Модные показы, мейкап события и многое другое !") %>
<% content_for(:keywords, "афиша моды, афиша украина, события моды, мода 2016")%>

<%= render "shared/menu" %>
<div class="global-scope">
  <div class="settings-scope" style="padding-top: 0;">
    <%= render "shared/main_news_navbar" %>
    <h2 class="events-h2">Модные события</h2>
    <div class="google-ads-news-main">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mv-news-main -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3562964519569523"
           data-ad-slot="1356928495"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="news-feed">

      <% @event.each do |event| %>
          <div class="news-container">

            <h1><span class="headline-word"><%= event.name %></span></h1>



            <a href="<%= event_path(event) %>" target="_self">
              <div class="news-photo-shoppingandmakeup" style="background-image: url(<%= event.image %>);" >
                <div class="news-date-block-events">
                  <p class="news-date-day-events"><%= event.events_day %></p>
                  <p class="news-date-month-events"><%= event.events_month %></p>
                  <p class="news-date-adress-events"><%= event.events_adress %></p>
                </div>
              </div>
            </a>

            <div class="news-content">
              <p><%= event.short %></p>
            </div>

          </div>
      <% end %>
    </div>

    <%= link_to '<p class="add-new-callback">Как попасть в MVive Афишу? Напишите нам письмо с темой "Афиша".</p>'.html_safe, contact_us_path, target: "_self" %>

    <div class="casting-next-back-btns">
      <%= will_paginate @event, previous_label: "Назад", next_label: "Вперед" %>
    </div>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- main-news-adp -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3562964519569523"
         data-ad-slot="4419832494"
         data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <h3 class="social-call">Мы в социальных сетях</h3>
    <div class="social-footer">
      <ul>
        <li><a href="https://vk.com/mvivenet"><i class="fa fa-vk"></i></a></li>
        <li><a href="https://www.facebook.com/mvivenet"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/mvivenet/"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<%= render 'shared/footer' %>