<% content_for(:title, @event.name) %>
<% content_for(:description, @event.body) %>
<% content_for(:og_title, @event.name)%>
<% content_for(:og_description, @event.body)%>
<% content_for(:og_image, @event.image)%>

<div class="global-scope" xmlns="http://www.w3.org/1999/html">
  <div class="settings-scope">
    <div class="up-logo-main">
      <%= image_tag "mvive-tv-white-small.png", alt: "MVive Fashion Channel", class: "up-logo" %>
    </div>
    <%= render "shared/main_news_navbar" %>
    <div class="single-news-photo parallax-window" data-parallax="scroll" data-image-src="<%= @event.image %>">
      <div class="single-news-main-text">
        <h1><%= @event.name %></h1>
      </div>
    </div>
    <div class="back-btn">
      <i style="padding-left: 30px" class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
      <%= link_to "Вернутись", :back, class:"news-back-btn" %>
    </div>
    <p class="single-news-content"><%= @event.body %></p>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @event.image2 %>">
    </div>
    <p class="single-news-content"><%= @event.body2 %></p>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @event.image3 %>">
    </div>
    <p class="single-news-content"><%= @event.body3 %></p>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @event.image4 %>">
    </div>
    <p class="single-news-content"><%= @event.body4 %></p>



    <h3 style="text-align: center; padding-top: 15px">Фотогалерея</h3>
    <div class="fotorama" data-width="700" data-ratio="700/467" data-max-width="100%" data-nav="thumbs" style="margin: auto;">
      <img src="<%= @event.image5 %>">
      <img src="<%= @event.image6 %>">
      <img src="<%= @event.image7 %>">
      <img src="<%= @event.image8 %>">
      <img src="<%= @event.image9 %>">
      <img src="<%= @event.image10 %>">
      <img src="<%= @event.image11 %>">
      <img src="<%= @event.image12 %>">
      <img src="<%= @event.image13 %>">
      <img src="<%= @event.image14 %>">
      <img src="<%= @event.image15 %>">
      <img src="<%= @event.image16 %>">
      <img src="<%= @event.image17 %>">
      <img src="<%= @event.image18 %>">
      <img src="<%= @event.image19 %>">
      <img src="<%= @event.image20 %>">
      <img src="<%= @event.image21 %>">
      <img src="<%= @event.image22 %>">
      <img src="<%= @event.image23 %>">
      <img src="<%= @event.image24 %>">
      <img src="<%= @event.image25 %>">
      <img src="<%= @event.image26 %>">
      <img src="<%= @event.image27 %>">
      <img src="<%= @event.image28 %>">
      <img src="<%= @event.image29 %>">
      <img src="<%= @event.image30 %>">
      <img src="<%= @event.image31 %>">
      <img src="<%= @event.image32 %>">
      <img src="<%= @event.image33 %>">
      <img src="<%= @event.image34 %>">
      <img src="<%= @event.image35 %>">
      <img src="<%= @event.image36 %>">
      <img src="<%= @event.image37 %>">
      <img src="<%= @event.image38 %>">
      <img src="<%= @event.image39 %>">
      <img src="<%= @event.image40 %>">
      <img src="<%= @event.image41 %>">
      <img src="<%= @event.image42 %>">
      <img src="<%= @event.image43 %>">
      <img src="<%= @event.image44 %>">
      <img src="<%= @event.image45 %>">
      <img src="<%= @event.image46 %>">
      <img src="<%= @event.image47 %>">
      <img src="<%= @event.image48 %>">
      <img src="<%= @event.image49 %>">
      <img src="<%= @event.image50 %>">
    </div>

    <!-- <h2>Смотрите также:</h2>
    <div class="look-more-block">
      <a href="http://www.mvive.net/news/49" class="lm-block-a" target="_self">
        <div class="lm-block-single">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/19-okt-1.jpeg" class="lm-block-img">
          <p class="lm-block-p">Покрова: как создавался этно-проект от Vogue.ua и другое</p>
        </div>
      </a>

      <a href="http://www.mvive.net/news/51" class="lm-block-a" target="_self">
        <div class="lm-block-single">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/24-okt-1.jpeg" class="lm-block-img">
          <p class="lm-block-p">Dolce&Gabbana: сыновья звезд снялись в рекламе</p>
        </div>
      </a>
    </div> -->

    <div class="google-ads-news-main">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mv-news-main -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3562964519569523"
           data-ad-slot="1356928495"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>

<!-- Share Buttons -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57ce7fb5ff12a99b"></script>
<div id='admixer_53fb9a119de44b9781dae1268142a911_zone_14307_sect_4206_site_3736'></div> <script type='text/javascript'> admixerML.fn.push(function() { admixerML.display('admixer_53fb9a119de44b9781dae1268142a911_zone_14307_sect_4206_site_3736'); }); </script>