<% content_for(:title, @event.name) %>
<% content_for(:description, @event.body) %>
<% content_for(:og_title, @event.name)%>
<% content_for(:og_description, @event.body)%>
<% content_for(:og_image, @event.image)%>

<div class="global-scope" xmlns="http://www.w3.org/1999/html">
  <div class="settings-scope">
    <%= render "shared/main_news_navbar" %>
    <div class="single-news-photo parallax-window" data-parallax="scroll" data-image-src="<%= @event.image %>">
      <div class="single-news-main-text">
        <h1><%= @event.name %></h1>
      </div>
    </div>
    <div class="back-btn">
      <i style="padding-left: 30px" class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
      <%= link_to "Вернутись", :back, class:"news-back-btn" %>
    </div>
    <p class="single-news-content"><%= @event.body %></p>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @event.image2 %>">
    </div>
    <p class="single-news-content"><%= @event.body2 %></p>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @event.image3 %>">
    </div>
    <p class="single-news-content"><%= @event.body3 %></p>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @event.image4 %>">
    </div>
    <p class="single-news-content"><%= @event.body4 %></p>

    <!-- <h2>Смотрите также:</h2>
    <div class="look-more-block">
      <a href="http://www.mvive.net/news/49" class="lm-block-a" target="_self">
        <div class="lm-block-single">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/19-okt-1.jpeg" class="lm-block-img">
          <p class="lm-block-p">Покрова: как создавался этно-проект от Vogue.ua и другое</p>
        </div>
      </a>

      <a href="http://www.mvive.net/news/51" class="lm-block-a" target="_self">
        <div class="lm-block-single">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/24-okt-1.jpeg" class="lm-block-img">
          <p class="lm-block-p">Dolce&Gabbana: сыновья звезд снялись в рекламе</p>
        </div>
      </a>
    </div> -->

    <div class="google-ads-news-main">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mv-news-main -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3562964519569523"
           data-ad-slot="1356928495"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
<!-- Share Buttons -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57ce7fb5ff12a99b"></script>