<% content_for(:title, "Блог Олени Назар")%>
<% content_for(:description, "Мене звати Олена. Працюю візажистом та веду блог про моду, стиль, просто про життя… мені подобається працювати у сфері краси, настільки сильно, що почала багато її вивчати і хочеться про це писати…
Сподіваюся у нас з Вами складеться взаємна дружба і ми разом будемо обговорювати сучасні модні тенденції та усі новини й плітки у світі краси. Буду ділитися цікавими ссилками, порадами від провідних митців індустрії краси. І ще про дуже і дуже багато що!") %>
<% content_for(:keywords, "олена назар, блог, модний блогер")%>


<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <%= render "shared/header_navigation_up" %>
    </div>
  </header>
  <section id="navArea">
    <%= render "shared/header_navigation_down" %>
  </section>
  <section id="newsSection">
    <%= render "shared/social_area_mainpage" %>
  </section>

  <section id="contentSection">
    <%= render "shared/content_blog_olena_nazar" %>
  </section>
  <%= render "shared/footer_mainpage" %>
</div>
<%= render 'shared/popup_facebook' %>
<div id='admixer_53fb9a119de44b9781dae1268142a911_zone_14307_sect_4206_site_3736'></div> <script type='text/javascript'> admixerML.fn.push(function() { admixerML.display('admixer_53fb9a119de44b9781dae1268142a911_zone_14307_sect_4206_site_3736'); }); </script>
<div class="admixer-mobile"><div id='admixer_b8ba839213ef46f4bb92b37158d0c2af_zone_14308_sect_4206_site_3736'></div> <script type='text/javascript'> admixerML.fn.push(function() { admixerML.display('admixer_b8ba839213ef46f4bb92b37158d0c2af_zone_14308_sect_4206_site_3736'); }); </script></div>
