 <div id="first-reg-scale" class="reg-scale">
 	<div class="block-user content_anim1" id="first-block-user">
        <%= image_tag "photo-icon.png", alt: "photo-icon", id: "photo-icon", onmousedown: "return false"%>
        <p>Фотограф</p>
    </div>
    <div class="block-user content_anim2" id="second-block-user">
        <%= image_tag "model-icon.PNG", alt: "model-icon", id: "model-icon", onmousedown: "return false"%>
        <p>Модель</p>
    </div>
    <div class="block-user content_anim3" id="third-block-user">
        <%= image_tag "modeller-icon.PNG", alt: "modeller-icon", id: "modeller-icon", onmousedown: "return false"%>
        <p>Модельер</p>
    </div>
    <div class="close-button"></div>
</div>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html:{ id: "second-reg-scale", class: "reg-scale"}, remote: true, :format => :json) do |u| %>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<%= link_to '<div class="input-line" id="facebook-log"><div class="facebook-block"><p>Регистрация через Facebook</p></div></div>'.html_safe, user_omniauth_authorize_path(:facebook)%>
        <p class="" style="padding: 15px 0; font-size: 12px; text-align: center; color: darkgrey"> Стандартная форма регистрации </p>
		<%=u.hidden_field :type, id: "invisible-input"%>
        <div class="input-line content_anim4" id="login-line">
            <%=u.text_field :login, placeholder: "Логин...", id:"input-login-for-reg", required: true%>
        </div>
        <div class="input-line content_anim5" id="email-line">
            <%=u.email_field :email, placeholder: "E-mail...", id: "input-email-for-reg", required: true%>
        </div>
        <div class="input-line content_anim6" id="password-line">
            <%= u.password_field :password, placeholder: "Пароль...", required: true%>
        </div>
        <div class="input-line content_anim7" id="confirm-line">
            <%= u.password_field :password_confirmation, placeholder: "Повторите пароль...", required: true%>
        </div>
        <div id="reg-exception">
        	
        </div>
        <p class="to-instruction">Не получили письмо?</p>
        <div class="buttons-line content_anim8">
            <%= u.submit "Регистрация", id: "submit-button"%> 
            <input type="reset" id="reset-button" value="Отмена">
        </div>
        <div class="close-button"></div>
        
    <%end%>
