
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html:{ id: "login-scale", class: "reg-scale"}, remote: true, :format => :json) do |u| %>
   	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <%= link_to '<div class="input-line" id="facebook-log"><div class="facebook-block"><p>Войти с помощью Facebook</p></div></div>'.html_safe, user_omniauth_authorize_path(:facebook)%>
        <p class="content_anim10" style="padding: 15px 0; font-size: 12px; text-align: center; color: darkgrey"> Войти с помощью логина </p>
    	<div class="input-line content_anim9" id="login-line-log">
            <%=u.text_field :login, placeholder: "Логин...", required: true%>
        </div>
        <div class="input-line content_anim10" id="password-line">
            <%= u.password_field :password, placeholder: "ПаролЬ...", required: true%>
        </div>
         <% if Devise.mappings[:user].rememberable? %>
       <div class="checkbox-line content_anim13">
            <%= u.check_box :remember_me, class: "checkbox", id: "remember_me"%>
          	<%= label_tag(:remember_me, "Запомнить меня")%>
        </div>
        <p id="login-exception"></p>
        <% end %>

        <div class="buttons-line content_anim11">
            <%= u.submit "Войти", id: "submit-button-log"%>
            <input type="reset" id="reset-button-log" value="Отмена">
        </div>
        <div class="close-button"></div>
    <%end%>
	<div class="catch-exception">
	</div>
