<% content_for(:title, "Каталог лучших магазинов одежды в Украине. Шопинг | Мода")%>
<% content_for(:description, "Все последние и актуальные новости шопинга и MakeUp в Мире. Список только лучших Luxury заведений, магазинов одежды и салонов красоты в Украине.") %>
<% content_for(:keywords, "шоппинг, мода, luxury, каталог магазинов")%>

<%= render "shared/menu" %>
<div class="global-scope">
  <div class="settings-scope" style="padding-top: 0;">
    <%= render "shared/main_news_navbar" %>
    <h2 class="shoppingandmakeup-h2">Shopping</h2>
    <div class="google-ads-news-main">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mv-news-main -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3562964519569523"
           data-ad-slot="1356928495"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="news-feed">

      <% @shoppingandmakeup.each do |shoppingandmakeup| %>
          <div class="news-container-shoppingandmakeup">

            <h1><span class="headline-word"><%= shoppingandmakeup.name %></span></h1>



            <a href=" <%= shoppingandmakeup_path(shoppingandmakeup) %>" target="_self">
              <div class="news-photo-shoppingandmakeup" style="background-image: url(<%= shoppingandmakeup.image %>);" >
                <div class="news-date-block-shoppingandmakeup">
                  <p class="news-date-address-shoppingandmakeup"><%= shoppingandmakeup.address %></p>
                  <p class="news-date-phone-shoppingandmakeup"><%= shoppingandmakeup.phone %></p>
                </div>
              </div>
            </a>

            <!--<div class="news-content">
              <p><%= shoppingandmakeup.short %></p>
            </div>-->
          </div>
      <% end %>
    </div>

    <%= link_to '<p class="add-new-callback">Как попасть в MVive Каталог? Напишите нам.</p>'.html_safe, contact_us_path, target: "_self" %>

    <div class="casting-next-back-btns">
      <%= will_paginate @shoppingandmakeup, previous_label: "Назад", next_label: "Вперед" %>
    </div>

    <div class="google-ads-news-main">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mv-news-main -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3562964519569523"
           data-ad-slot="1356928495"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <h3 class="social-call">Мы в социальных сетях</h3>
    <div class="social-footer">
      <ul>
        <li><a href="https://vk.com/mvivenet"><i class="fa fa-vk"></i></a></li>
        <li><a href="https://www.facebook.com/mvivenet"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/mvivenet/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC19mYJTuoNaIpdTFNPSL23A"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<%= render 'shared/footer' %>