<% content_for(:title, @shoppingandmakeup.name) %>
<% content_for(:description, @shoppingandmakeup.body) %>
<% content_for(:og_title, @shoppingandmakeup.name)%>
<% content_for(:og_description, @shoppingandmakeup.body)%>
<% content_for(:og_image, @shoppingandmakeup.image)%>

<div class="global-scope" xmlns="http://www.w3.org/1999/html">
  <div class="settings-scope no-padding-top">
    <div class="single-news-photo parallax-window" data-parallax="scroll" data-image-src="<%= @shoppingandmakeup.image %>">
      <div class="single-news-main-text">
        <h1><%= @shoppingandmakeup.name %></h1>
      </div>
    </div>
    <div class="back-btn">
      <i style="padding-left: 30px" class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
      <%= link_to "Вернуться", :back, class:"news-back-btn" %>
    </div>
    <div class="shoppingandmakeup-info">
      <p><b>Адрес: </b><%= @shoppingandmakeup.addressinside %></p>
      <p><b>Открыт: </b><%= @shoppingandmakeup.working %></p>
      <p><b>Телефон: </b><%= @shoppingandmakeup.phoneinside %></p>
    </div>
    <p class="single-news-content"><%= @shoppingandmakeup.body %></p>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @shoppingandmakeup.image2 %>">
    </div>
    <p class="single-news-content"><%= @shoppingandmakeup.body2 %></p>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @shoppingandmakeup.image3 %>">
    </div>
    <p class="single-news-content"><%= @shoppingandmakeup.body3 %></p>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @shoppingandmakeup.image4 %>">
    </div>
    <p class="single-news-content"><%= @shoppingandmakeup.body4 %></p>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @shoppingandmakeup.image5 %>">
    </div>
    <div class="news-content-img">
      <img class="nci-img" src="<%= @shoppingandmakeup.image6 %>">
    </div>

    <!-- <h2>Смотрите также:</h2>
    <div class="look-more-block">
      <a href="http://www.mvive.net/news/49" class="lm-block-a" target="_self">
        <div class="lm-block-single">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/19-okt-1.jpeg" class="lm-block-img">
          <p class="lm-block-p">Покрова: как создавался этно-проект от Vogue.ua и другое</p>
        </div>
      </a>

      <a href="http://www.mvive.net/news/51" class="lm-block-a" target="_self">
        <div class="lm-block-single">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/24-okt-1.jpeg" class="lm-block-img">
          <p class="lm-block-p">Dolce&Gabbana: сыновья звезд снялись в рекламе</p>
        </div>
      </a>

    </div> -->

  </div>
</div>
<%= render 'shared/footer' %>
<!-- Share Buttons -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57ce7fb5ff12a99b"></script>