<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ua">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="robots" content="index,follow">
  <title><%= full_title(yield :title)%></title>
  <meta name="description" content="<%= full_description(yield :description)%>">
  <meta name="keywords" content="<%= full_keywords(yield :keywords)%>">
  <meta name="copyright" content="M'Vive Fashion News">
  <meta property="og:title" content="<%= full_og_title(yield :og_title)%>"/>
  <meta property="og:description" content="<%= full_og_description(yield :og_description)%>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="Ea1aHQfPy2bpj8s27OYLIvLcrAHtNTmBWVXxao0_UqE" />
  <meta name="yandex-verification" content="14e1e3e043cb969e" />
  
  <%= favicon_link_tag 'favicon.ico' %>
  <base target="_self">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
  <link rel="alternate" type="application/rss+xml" title="MVive RSS Feed" href="https://mvive.net/feed?format=rss">
  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://mvive.net",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+380636155252",
    "contactType": "customer service"
  }]
}

</script>
  <script type='text/javascript'> (function() { var w = window, d = document, protocol =/https/i.test(w.location.protocol) ? 'https:' : 'http:', aml = typeof admixerML !== 'undefined' ? admixerML : { }; aml.fn = aml.fn || []; aml.invPath = aml.invPath || (protocol + '//inv-nets.admixer.net/'); aml.cdnPath = aml.cdnPath || (protocol + '//cdn.admixer.net/'); if (!w.admixerML) { var lodash = document.createElement('script'); lodash.id = 'amlScript'; lodash.async = true; lodash.type = 'text/javascript'; lodash.src = aml.cdnPath + 'scripts3/loader2.js'; var node = d.getElementsByTagName('script')[0]; node.parentNode.insertBefore(lodash, node); w.admixerML = aml; } })(); </script>
  <script type='text/javascript'> admixerML.fn.push(function() { admixerML.defineSlot({z: '53fb9a11-9de4-4b97-81da-e1268142a911', ph: 'admixer_53fb9a119de44b9781dae1268142a911_zone_14307_sect_4206_site_3736', i: 'inv-nets'}); admixerML.singleRequest(); }); </script>
  <script type='text/javascript'> admixerML.fn.push(function() { admixerML.defineSlot({z: '5b401e91-1eb2-4f49-b908-1562326337d5', ph: 'admixer_5b401e911eb24f49b9081562326337d5_zone_14306_sect_4206_site_3736', i: 'inv-nets'}); admixerML.singleRequest(); }); </script>
  <script type='text/javascript'> admixerML.fn.push(function() { admixerML.defineSlot({z: 'b8ba8392-13ef-46f4-bb92-b37158d0c2af', ph: 'admixer_b8ba839213ef46f4bb92b37158d0c2af_zone_14308_sect_4206_site_3736', i: 'inv-nets'}); admixerML.singleRequest(); }); </script>
</head>
 <body>
	
<%= yield %>
	<!--[if lt IE 9]>
	  <%= javascript_include_tag 'html5shiv-printshiv' %>
	  <%= javascript_include_tag 'html5shiv' %>
	  <%= respond_include_tags %>
	<![endif]-->
	<!-- Yandex.Metrika counter -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter39204020 = new Ya.Metrika({
          id:39204020,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/39204020" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  <!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80593854-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
    $(function () {
        $('.fotorama').fotorama();
    });
</script>

<script type="text/javascript">
    $(function(){
        $.scrollUp();
    });
</script>
  <!-- /Google Analytics counter -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8&appId=1171884159502626";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
